In [2]:

total = 0
total += 1
total += 2
total += 3
total += 4
total += 5
total += 6
total += 7
total += 8
total += 9
total += 10
total

55

In [1]:
total = 0
for i in range(1,101):
    total += i

total

5050

In [4]:

total = 0
for i in range(1,101,2):
    total += i

print(f"total={total}")

total=2500

In [5]:

total = 0
for i in range(1,101,10):
    total += i

    print(f"total={total}")

total=1
total=12
total=33
total=64
total=105
total=156
total=217
total=288
total=369
total=460

In [6]:
#interable=range(1,101)與字串'shichan'
for i in 'shichan':
    print (i)

s
h
i
c
h
a
n

In [7]:
while True:
    name = input("What is your name?")
    if name == 'q':
        break
    print(f"Hello,{name}")

Hello,s
Hello,a